/* DNC */

.dnc-container {
  margin-top: 2rem;
}

.row {
  padding: 2rem;
}

.dnc {
  color: #1DAFF0;
  text-align: center;
}




/* Typewriter Effect */
/* https://css-tricks.com/snippets/css/typewriter-effect/ */
.typewriter p {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #1DAFF0; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0em; /* Adjust as needed */
  animation:
    typing 5s steps(40, end),
    blink-caret .75s step-end 5s;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #1DAFF0; }
}


/* Delay */

.delay {
  opacity: 0;
  -webkit-animation:delay ease-in 1;
  -moz-animation:delay ease-in 1;
  animation:delay ease-in 1;

  /* Delays animation until after typewriter stops */
  -webkit-animation-delay:5s;
  -moz-animation-delay:5s;
  animation-delay:5s;

  /* Length of time to show text */
  -webkit-animation-duration:.5s;
  -moz-animation-duration:.5s;
  animation-duration:.5s;

  /* Keeps display */
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
}

.dnc-text {
  opacity: 0;
  -webkit-animation:delay ease-in 1;
  -moz-animation:delay ease-in 1;
  animation:delay ease-in 1;


  /* Length of time to show text */
  -webkit-animation-duration:.5s;
  -moz-animation-duration:.5s;
  animation-duration:.5s;

  /* Keeps display */
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
}

@-webkit-keyframes delay {
  from { opacity:0; }
  to { opacity:1; }
}
@-moz-keyframes delay {
  from { opacity:0; }
  to { opacity:1; }
}
@keyframes delay {
  from { opacity:0; }
  to { opacity:1; }
}
