/* Base Styles */
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
h1, h2, h3, h4 {
  font-family: 'Cormorant Upright', serif;
  font-weight: 700;
}

/* Hero */
#hero { border: 1px solid red; }
h1 {
  animation: easein 3s;
  color: #71A4A4;
  display: inline-block;
  padding: 0;
  text-align: left;
  width: 50%;
  float: left;
  padding-left: 1em;
  font-size: 2.3em;
}

.navbar {
  display: inline-block;
  text-align: right;
  text-transform: uppercase;
  width: 50%;
}

.nav-item {
  list-style: none;
  padding: .5em;
}

.nav-link {
  text-decoration: none;
  color: black;
  padding: .5em;
}

.nav-link:hover {
  background-color: #E0EBEB;
  color: black;
}


/* About */

#about {  border: 1px solid hotpink;
  display: block;
  position: relative;
}

/* Tech */

#tech { border: 1px solid blue; }


/* Work */

#work { border: 1px solid yellow; }

.thumbnail {
  width: 250px;
  height: 190px;
  padding: 1em;
}
.thumbnail:hover, .logo:hover {
  transform: scale(1.1);
  -webkit-transition:all 0.3s linear;
  -moz-transition:all 0.3s linear;
  -ms-transition:all 0.3s linear;
  -o-transition:all 0.3s linear;
  transition:all 0.3s linear;
}
