/* Base Styles */
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
h1, h2, h3, h4 {
  font-family: 'Cormorant Upright', serif;
  font-weight: 700;
}

h1 {
  animation: easein 3s;
  color: #71A4A4;
  display: inline-block;
  padding: 0;
  text-align: center;
  width: 30%;
}


.full-width {
  display: inline-block;
  width: 100%;
}
.half-width, .third-width, .fourth-width {
  display: inline-block;
}

/* Hero */
#hero {
  background: url('../hero.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100vh;
}

nav {
  display: inline-block;
  float: right;
  text-align: center;
  text-transform: uppercase;
  width: 65%;
}

nav ul li {
  list-style: none;
  padding: 10px;
}


nav ul li a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

nav ul li:hover {
  background-color: #E0EBEB;
}

/* About */
#about  {
  min-height: 75vh;
}
#about h2 {
  padding-left: 0;
}
#about .half-width {
  font-size: 18px;
  padding: 1.2em;
  line-height: 1.4em;
  margin-left: 1em;
}
#about a {
  color: #71A4A4;
  text-decoration: none;
}
#about a:hover {
    font-weight: bold;
}

/* Technology */
#tech {
  clear: both;
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 1.5em;
  min-height: 80vh;
}
#tech .third-width {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
#tech h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
  font-weight: 600;
}
#tech p {
  font-size: 1.1em;
  text-align: left;
  min-height: 75px;
}
#tech i {
  color: #5A8383;
  font-size: 3em;
  padding: .25em;
}
#tech #react {
  animation: rotate 3s infinite linear;
}


/* Work */

/* ==================== */

/* Animations from TM  */
.shown-on-scroll {
    animation-delay: 0.25s;
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
/* ==================== */

#work {
  margin-top: 5%;
}
#work h2 {
  padding-bottom: 2em;
}
#work .half-width {
  margin-bottom: 3em;
}
.row {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.thumbnail {
  width: 250px;
  height: 190px;
  padding: 1em;
}
.thumbnail:hover, .logo:hover {
  transform: scale(1.1);
  -webkit-transition:all 0.3s linear;
  -moz-transition:all 0.3s linear;
  -ms-transition:all 0.3s linear;
  -o-transition:all 0.3s linear;
  transition:all 0.3s linear;
}
#work .half-width p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  width: 100%;
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.responsive-img {
  width: 80%;
  height: auto;
}
.upworthy p {
  font-weight: 700;
}

.projects-container .logo-container {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-container img {
  min-height: 105px;
}

.logo-container a {
  text-decoration: none;
  color: black;
  padding: 1em;
  font-size: 1em;
  text-transform: uppercase;
}

.logo-container a:hover {
  font-weight: 700;
}


/* Contact */
#contact-img {
  height: auto;
  padding: 2em;
  width: 90%;
}
#contact-info {
  width: 50%;
  padding-top: 2em;
}
#contact ul {
  padding-top: 10%;
  text-align: center;
}
#contact ul li {
  display: inline-block;
  list-style: none;
  padding: 1em;
  text-align: center;
}
#contact ul li a {
  color: #71A4A4;
  text-decoration: none;
  font-size: 2.5em;
}
#contact ul li a i {

}
#contact ul li a i:hover {
  color: #385252;
}

/* Footer */
footer {
  padding: 1em;
  text-align: center;
}

/* Animations */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes easein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ======================================= */

/* Phones */
/* @media (min-width: 768px) {
  nav {
    width: 20%;
  }
  #hero {
    height: 50vh;
  }
  .half-width {
    width: 80%;
  }
  .third-width, .fourth-width {
    width: 50%;
  }
  #about, #tech {
    min-height: 50vh;
  }
} */

/* Tablets  */
@media (min-width: 992px) {

}
