@font-face {
  font-family: 'Bongiorno';
  src: url('../fonts/bongiorno.otf');
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bongiorno';
}

.title {
    animation: 3s alternate slidein;
    margin-top: 10%;
    margin-left: 70%;
    font-size: 7em;
    color: #4DB6AC;
}

.navbar {
  background-color: #1a1a1a;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: white;

}

.main-img {
  z-index: -1;
  position: absolute;
}

.contact > section a, .contact > section a:visited {
  color: black;
  font-size: 4rem;
  padding: 4rem;

  -webkit-transition:all 0.3s linear;
  -moz-transition:all 0.3s linear;
  -ms-transition:all 0.3s linear;
  -o-transition:all 0.3s linear;
  transition:all 0.3s linear;
}

.contact > section a:hover {
  color: #4DB6AC;


  -webkit-transform:translateY(7px);
  -moz-transform:translateY(7px);
  -ms-transform:translateY(7px);
  -o-transform:translateY(7px);
  transform:translateY(7px);
}

.contact > section {
  text-align: center;
}

/* Animations */

@keyframes slidein {
  from {
    margin-top: 100%;
    opacity: 0;
  }

  to {
    margin-top: 10%;
    opacity: 1;
  }
}
