<!doctype html>
<html lang="en" ng-app="website">
  <head>
    <title>Tiffany Monroe | Web Developer</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">


    <!--CSS-->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/dnc.css">

    <!--Anglular-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js" charset="utf-8"></script>
    <script src="js/app.js"></script>


  </head>
  <body ng-controller="DncController as dnc">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg">

      <div>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="http://tiffanymonroe.com"><span class="fa fa-home" style="font-size: 20px"></span></a>
        </li>
      </ul>
    </div>
    </nav>

    <div class="container dnc-container">
      <h2 class="dnc"> Hello, Democratic Tech Team!</h2>
      <br>
      <div class="typewriter">
        <p>Your mission: secure the future of our country. Your need: me!</p>
      </div>
      <br>
      <div class="delay">
        <p>You're looking for a full stack engineer "to build foundational tools to win elections and to help the progressive movement in any way we can. This Democratic Tech team will work closely with candidates, parties, and constituents to make a measurable impact in their ability to execute."</p>


        <p>Okay, specifically, you're looking for a mid-level to senior Full-Stack Developer with experience in JavaScript and Python. I'm a junior Full-Stack Developer with experience in JavaScript and Ruby. So why should you hire me?</p>
        <br><br>
        <center><button ng-click="dnc.toggleQualifications()" type="button" class="btn btn-light dnc" style="margin-bottom: 2rem;"><span class="fa fa-chevron-down"></span></button></center>
      </div>



<!-- Qualifications -->
<div ng-hide="dnc.qualifications">
  <div class="row">
    <div class="col-sm-8 dnc-text">
      <h3 class="dnc">My Qualifications</h3>
      <p>You want someone who can work across the stack. </p>
      I can already:
        <ul>
          <li>write backend code.</li>
          <li>debug JavaScript.</li>
          <li>author HTML / CSS.</li>
        </ul>
      I'm also:
        <ul>
          <li>experienced with APIs.</li>
          <li>a pro with GitHub.</li>
          <li>quick to learn.</li>
        </ul>
    </div>
    <!-- Elizabeth Warren Wow -->
    <div class="col-sm-4"> <img class="img-fluid dnc-img" style="margin-top:30%;" src="https://media.giphy.com/media/3o6ZsTjnGxXKiDDsQ0/giphy.gif"/>
    </div>
  </div>
  <div class="row">
    <button ng-click="dnc.toggleBackground()" type="button" class="btn btn-light dnc mx-auto" style="margin-bottom: 2rem;"><span class="fa fa-chevron-down"></span></button>
  </div>
</div>


<!-- Background -->
<div ng-hide="dnc.background">
  <div class="row">
    <!-- Bernie Diversity -->
    <div class="col-sm-4">
      <img class="img-fluid dnc-img" src="https://media.giphy.com/media/3o6ZtoeBNKby0Cb1ZK/giphy.gif" alt="Bernie Sanders">
    </div>

    <div class="col-sm-8 dnc-text">
      <h3 class="dnc">My Background</h3>
      <p>I struggled for several years trying to move from adjunct to full-time writing instructor before deciding to turn my coding hobby into a career. I went through an <a href="https://generalassemb.ly/education/web-development-immersive-remote">immersive web development program</a> where I learned full-stack development in three months. The program was designed to give us real-world, hands-on experience. I learned Agile development best practices from daily scrums to project sprints. I also have nearly a decade in writing, communication, and tutoring/teaching experience, along with my technical skills.</p>
    </div>
  </div>
  <div class="row">
    <button ng-click="dnc.toggleMission()" type="button" class="btn btn-light dnc mx-auto" style="margin-bottom: 2rem;"><span class="fa fa-chevron-down"></span></button>
  </div>
</div>


<!-- Mission -->
<div ng-hide="dnc.mission">
  <div class="row">
    <div class="col-sm-8 dnc-text">
      <h3 class="dnc">The Mission</h3>
      <p>I’m excited to see that one of the main responsibilities is to get to work with a diverse team that includes “engineers, campaign managers, volunteer coordinators, communication experts, and numerous others” to support candidates.</p>
      <p>I noticed that the DNC has shifted UX since 2013. It’s clear and easy to use. My favorite feature in past elections has been the call banks that the Obama campaign started. The scripts were easy to follow and your progress was simple to track. Genius.</p>
      <p>I admire that the DNC is pulling out all the stops to resist the current administration and take back control of the House and Senate. My mission is to find a way to help you. I would love to be able to join the Democratic Tech Team to do just that.</p>
      <center><p>#resist</p></center>
    </div>
      <!-- Biden Scarf -->
      <div class="col-sm-4">
        <img class="img-fluid dnc-img" src="https://media.giphy.com/media/cQTps12FQ4djO/giphy.gif" alt="Joe Biden"/>
      </div>
  </div>
  <div class="row">
    <button ng-click="dnc.toggleMicDrop()" type="button" class="btn btn-light dnc mx-auto" style="margin-bottom: 2rem;"><span class="fa fa-chevron-down"></span></button>
  </div>

<!-- Mic Drop -->
<div ng-hide="dnc.micDrop">
  <div class="row">
      <div class="col-sm-6 mx-auto dnc-text">
        <h3 class="dnc">Tiffany Monroe for Full-Stack Developer</h3>
<!-- Pres Obama Mic Drop-->
        <img class="img-fluid dnc-img" src="https://media.giphy.com/media/3o7qDSOvfaCO9b3MlO/giphy.gif" alt="BO Mic Drop">
        <br><br>
        <center>
        <p>For more information about me, click <a href="http://tiffanymonroe.com">here</a>.</p>
        <p>To look at my code for my portfolio and this cover letter, click <a href="https://github.com/tiffanymonroe/portfolio">here</a>.</p>
      </center>
        <h4 class="dnc">Thank you for your consideration!</h4>
      </div>
  </div>
</div>

</div> <!-- end of container-->




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
